body{
  background-color: white;
}

nav a{
  display: inline;
  text-align: center;
  padding: 8px;
  text-decoration-line: none;
  color: #222;
}

nav a:hover{
  background-color: white;
}


input  {
  background-color: ghostwhite;
  border: 3px;
  padding: 8px;
}

.input-kirim {
  padding: 8px;
}

.input-kirim:hover {
  background-color: orange;
}
textarea {
  background-color: ghostwhite;
  border: 3px;
  padding: 8px;
  width: 80%;
}