body{
  background-color: white;
}

nav a{
  display: inline;
  text-align: center;
  padding: 8px;
  text-decoration-line: none;
  color: #222;
}

nav a:hover{
  background-color: white;
}


input  {
  background-color: whitesmoke;
  border: 1px;
  padding: 8px;
}

.input-kirim {
  padding: 8px;
}

textarea {
  background-color: whitesmoke;
  border: 1px;
  padding: 8px;
  width: 80%;
}