body{
  background-color: lightblue;
}

nav a{
  display: inline;
  text-align: center;
  padding: 8px;
  text-decoration-line: none;
  color: #222;
}

nav a:hover{
  background-color: wheat;
}

.tabel {
  background-color: whitesmoke;
  border: 0.5px;
  padding: 1px;
}