body{
  background-color: white;
}

nav {
  display: flex;
  justify-content: center;
}

nav a{
  display: inline;
  text-align: center;
  padding: 8px;
  text-decoration-line: none;
  color: #222;
}

nav a:hover{
  background-color: white;
}

.tabel {
  background-color: white;
  border: 0.5px;
  padding: 1px;
}